.container {
    height: 100%;
    width: 100%;
    background-color: #fafafa;

    .toggle {
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 1rem;
        margin: 1rem 0;

        button[type="button"] {
            border: none;
            background-color: #0275d8;
            color: white;
            padding: 0.25rem 0.5rem;
            font-size: 1.5em;
            font-weight: bold;
        }
    }

    .notes {
        .timeframe {
            font-size: 1.5em;
            font-weight: bold;
        }

        > ul {
            list-style: none;
            padding: 0;

            li {
                margin: 1rem 0;
                background-color: #eaeaea;
            }
        }
    }
}
