.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    .inputs {
        display: flex;
        gap: 1rem;

        input[type="text"] {
            flex: 3;
        }

        input[type="submit"] {
            flex: 1;
            text-transform: uppercase;
            border: none;
            background-color: #0275d8;
            color: white;
            padding: 0.25rem 0.5rem;
            font-weight: bold;
        }
    }

    .errors {
        color: red;
    }
}

.modal {
    > div {
        height: 10rem;
    }
}
